* {
    box-sizing: border-box;
}


/* Style the body */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}


/* Header/logo Title */

.header {
    padding: 1px;
    text-align: center;
    background: #070707;
    color: white;
}

.side h2 {
    padding: 10px;
    text-align: center;
}


/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */

.navbar {
    overflow: hidden;
    background-color: #877148;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}


/* Style the navigation bar links */

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}


/* Right-aligned link */

.navbar a.right {
    float: right;
}


/* Change color on hover */

.navbar a:hover {
    background-color: #ddd;
    color: black;
}


/* Active/current link */

.navbar a.active {
    background-color: #666;
    color: white;
    float: right;
}

.profilenav {
    overflow: hidden;
    background-color: #333;
}


/* Style the navigation bar links */

.profilenav a {
    float: center;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}


/* Change color on hover */

.profilenav a:hover {
    background-color: #ddd;
    color: black;
}


/* Active/current link */

.profilenav a.active {
    background-color: #666;
    color: white;
    float: center;
}


/* Column container */

.row {
    display: flex;
    flex-wrap: wrap;
}


/* Create two unequal columns that sits next to each other */


/* Sidebar/left column */

.side {
    flex: 10%;
    background-color: #f1f1f1;
    padding: 20px;
}

.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}

.main h2 {
    text-align: center;
}

.footer {
    padding: 10px;
    text-align: center;
    background: #ddd;
}

.main form {
    text-align: center;
}


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}